@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Cloudnloud Tech community was started by Vijayabalan Balakrishnan
    a cancer survivor since 2011. He has been helping the cancer children and the tech community for the past 2 decades to loud from their own confidence.
    Officialy, registered as Pvt.Ltd on Jan-2015, the main motton is to help and support cancer children from its revenue.Today cloudnloud is living that dream with 7000 plus cancer survivors across the globe.If you really want to join us along with your massive growth feel free to reach us in whats app +91 8939984529
    </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
