@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"> Welcome to Cloudnloud Tech Community- Contact us to loud better in your IT career +91 8939984529 along with massive cause of saving cancer children
    </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
